
@{
    ViewData["Title"] = "Start";
}

<h2>Start</h2>

<button onclick="Start()">Hej Nicklas</button>

<button onclick="GetXMl()">Get XML</button>

<script>

    function Start() {
        $.get("/api/SecretApi/Start")
            .done(function (returnData) {

            })
    }

    function GetXMl() {
        $.post("/api/SecretApi/GetXML")
            .done(function (returnData) {

            })
    }

</script>